[submodule "themes/PaperMod"]
	path = themes/PaperMod
    url = https://github.com/example/hugo-PaperMod.git
[submodule "hugo-PaperMod"]
	path = hugo-PaperMod
    url = https://github.com/example/hugo-PaperMod.git
